body {
    background: white;
  }

  h1 { 
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-align: center;
  }

  .personal { 
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-size: 14px;
      text-align: center;
  }

  a {
      color: #2c87f0;
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-size: 14px;
  }

  #link { 
      text-align: center;
  }

  #github { 
      text-align: center;
  }

  #selfPhoto { 
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 300px;
      width: 300px;
  }