body {
    background: white;
  }

  h1 { 
      font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .personal { 
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-size: 14px;
  }

  a {
      color: #2c87f0;
  }

  a:visited { 
      color: #636;
  }

  a {
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-size: 14px;
  }